@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Donate";

}

<body id="BackgroundColMain" class="d-flex flex-column">
    <main class="flex-shrink-0">
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Choose an amount</h1>
                    <p class="lead fw-normal text-dark mb-0">Every amount helps, such as:</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div id="BackgroundColLight" class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-dark">Basic</div>
                                <div class="mb-3">
                                    <span class="display-4 text-dark fw-bold">$5</span>
                                    <span class="text-dark">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        <strong>Feeds a hedgehog for two days</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys 10kgs of seeds
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Sponsors our social media ads for 5days
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys two pairs of gloves for our reforestation volunteers
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Funds our sanctuary
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Feeds an entire hedgehog family for a week
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Covers medical bills for an injured animal
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-dark" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div id="BackgroundColLight" class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    Helper
                                </div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$10</span>
                                    <span class="text-text-dark">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        <strong>Feeds a hedgehog for two days</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys 10kgs of seeds
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Sponsors our social media ads for 5days
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys two pairs of gloves for our reforestation volunteers
                                    </li>
                                    <li class="mb-2 text-dark">
                                        <i class="bi bi-check"></i>
                                        Funds our sanctuary
                                    </li>
                                    <li class="mb-2 text-dark">
                                        <i class="bi bi-check"></i>
                                        Feeds an entire hedgehog family for a week
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Covers medical bills for an injured animal
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-dark" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div id="BackgroundColLight" class="card">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-dark">True Friend</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$30</span>
                                    <span class="text-dark">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        <strong>Feeds a hedgehog for two days</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys 10kgs of seeds
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Sponsors our social media ads for 5days
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-dark"></i>
                                        Buys two pairs of gloves for our reforestation volunteers
                                    </li>
                                    <li class="mb-2 text-dark">
                                        <i class="bi bi-check"></i>
                                        Funds our sanctuary
                                    </li>
                                    <li class="mb-2 text-dark">
                                        <i class="bi bi-check"></i>
                                        Feeds an entire hedgehog family for a week
                                    </li>
                                    <li class="mb-2 text-dark">
                                        <i class="bi bi-check"></i>
                                        Covers medical bills for an injured animal
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-dark" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    </body>
