@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shop Page";

}

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <section id="BackgroundColMain" class="inner_page_head">
            <div class="container_fuild">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h3 class="display-5 fw-bolder text-white mb-2">Support our mission to save wildlife while spoiling your own cherished companions!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end inner page section -->
        <!-- product section -->
        <section id="BackgroundGradientDark" class="product_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 class="display-6 fw-bolder text-light mb-2">
                        All the profit goes to our sanctuary development fund
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add to cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy1.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Chewy Hedgehog Toy
                                </h5>
                                <h6>
                                    $15
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy2.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Dog Balls
                                </h5>
                                <h6>
                                    $20
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy3.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Dog funny Tire
                                </h5>
                                <h6>
                                    $25
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy4.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Chewy Balls
                                </h5>
                                <h6>
                                    $20
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy5.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Fish For Licking
                                </h5>
                                <h6>
                                    $18
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy6.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Toys With Catnip
                                </h5>
                                <h6>
                                    $30
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy7.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Dog Toy White Ball
                                </h5>
                                <h6>
                                    $10
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy8.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Strong Dog Toys
                                </h5>
                                <h6>
                                    $40
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy9.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Primal Instinct Toy Set
                                </h5>
                                <h6>
                                    $65
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy10.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    GooseBye Toy
                                </h5>
                                <h6>
                                    $30
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy11.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Rope Pull Toy
                                </h5>
                                <h6>
                                    $15
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="box">
                            <div class="option_container">
                                <div class="options">
                                    <a href="" class="option1">
                                        Add To Cart
                                    </a>
                                    <a href="" class="option2">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/imgs/toy12.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Suction Cup Ball
                                </h5>
                                <h6>
                                    $22
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All products
                    </a>
                </div>
            </div>
        </section>

</main>
</body>